.searchBtn {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(323deg) brightness(102%) contrast(102%);
  height: 1.5rem;
  width: 1.5rem;
  align-self: center;
}

.timer span {
  background-color: '#d3232a';
  padding: ;
}

.scrollednav {
  position: fixed;
  top: 0;
}
